
<form class="login-outer-container" ng-controller="LoginController as ctrl" ng-init="ctrl.loggingin = false" ng-submit="ctrl.login()">
    
    <div class="login-container">
        <div><input type="text" placeholder="Email" ype="text"  id="username" ng-model="ctrl.user_credentials.email"></input></div>
        <div><input type="password" placeholder="Password" id="password" ng-model="ctrl.user_credentials.password"></input></div>

        <div class="login-button-container">
        <button type="submit" class="login-button"><span>Log in
        </button>
        <div ng-if="ctrl.loggingin" style="display: block;margin-top: 20px;" uk-spinner></div>
      </div>
    </div>
</form>